@keyframes placeholderBlink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
  
  .tiptap p.is-editor-empty:first-child::before {
    color: #9da4ab;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
    font-weight: bold;
    animation: placeholderBlink 1.5s ease-in-out infinite;
  }